.DS_Store
elpa/
eln-cache/
eshell/history
auto-save-list
network-security.data
backups
.cache/
.extension
projectile.cache
projectile-bookmarks.eld
eclipse.jdt.ls/
recentf
transient/
straight/
url/
var/
workspace/
config.el
