.DS_Store
elpa/
eln-cache/
eshell/
auto-save-list
network-security.data
backups
.cache/
.extension
projectile.cache
projectile-bookmarks.eld
eclipse.jdt.ls/
recentf
transient/
tree-sitter/
straight/
url/
var/
workspace/
config.el
custom.el
.emacs.desktop
.lsp-session-v1
.dap-breakpoints
org-persist/
ellama-sessions/